<%- include("../partials/header")%>
<head>
    <link rel="stylesheet" href="/css/resume.css">
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- <div class="roof">
      <img src="../images/roof1.png" alt="roof-form" width="900" height="190"/>  
    </div> -->
</head>
<body>
    

<div class="container col-xs-6 col-lg-7">
    <div class="findjob-form">
        <div class="text-center pt-5">
            <img src="/images/logo.png" alt="network-logo" width="230" height="70"/>
            <!-- <p>
              find your part-time jobs form
            </p> -->
            <p>Edit Your part-time jobs form</p>
        </div>    
        <div class="text-form" >
            <form style="text-align: left;" action="/findjob/My_resume/<%= resume._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="topic">
                    <p><i class="fas fa-user"></i>ส่วนที่ 1 : ข้อมูลส่วนตัว </p>
                    <div class="line"></div>
                </div>
                    <input type="hidden" name="username" value="<%= currentUser.username %>">
                    <input type="hidden" name="oldfile" value="<%= resume.file %>">
                    <input type="hidden" name="oldimage" value="<%= resume.image %>">
                    <div class="form-row" >
                        <div class="form-group col-xs-8 col-sm- col-md-8 col-lg-4">
                            <label for="uploadimage">อัพโหลดรูป</label>
                            <input type="file" class="form-control-file"  name="image">
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-6 col-lg-4">
                            <label for="inputFirstname">ชื่อจริง *</label>
                            <input type="text" class="form-control" name="firstname" value="<%= resume.firstname %>" required>
                        </div>
                        <div class="col-xs-8 col-sm-12 col-md-6 col-lg-4">
                            <label for="inputLastname">นามสกุล *</label>
                            <input type="text" class="form-control" name="lastname"value="<%= resume.lastname %>"required>
                        </div>
                    </div>
                    <div class="topic">
                        <p><i class="fas fa-address-card"></i>ส่วนที่ 2 : ข้อมูลการสมัครงาน</p>
                        <div class="line"></div> 
                    </div>
                    <div class="form-select">
                        <label for="selectTypejob">ประเภทงานที่ต้องการสมัคร</label>
                        <select class="form-control" name="jobtype"  required>
                            <option value="<%= resume.jobtype %>"><%= resume.jobtype %></option>
                            <option value="งานบ้าน">งานบ้าน</option>
                            <option value="งานครัว">งานครัว</option>
                            <option value="งานช่าง">งานช่าง</option>
                            <option value="งานพี่เลี้ยงเด็ก">งานพี่เลี้ยงเด็ก</option>
                            <option value="งานสอนหนังสือ">งานสอนหนังสือ</option>
                            <option value="งานขาย">งานขาย</option>
                            <option value="งานบริการลูกค้า">งานบริการลูกค้า</option>
                            <option value="งานคลังสินค้า">งานคลังสินค้า</option>
                            <option value="งานธุรการ">งานธุรการ</option>
                            <option value="งานแคชเชียร์">งานแคชเชียร์</option>
                            <option value="งานส่งสินค้า">งานส่งสินค้า</option>
                            <option value="งานขับรถ">งานขับรถ</option>
                            <option value="งานบัญชีและการเงิน">งานบัญชีและการเงิน</option>
                            <option value="งานจัดซื้อ">งานจัดซื้อ</option>
                            <option value="งานก่อสร้าง">งานก่อสร้าง</option>
                            <option value="งานทำความสะอาด">งานทำความสะอาด</option>
                            <option value="งานตัวแทนจำหน่าย">งานตัวแทนจำหน่าย</option>
                            <option value="งานบริการความงาม">งานบริการความงาม</option>
                            <option value="งานรักษาความปลอดภัย">งานรักษาความปลอดภัย</option>
                            <option value="งานถ่ายภาพ">งานถ่ายภาพ</option>
                            <option value="อื่น...">อื่น...</option>
                        </select><br>
                    <label for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" name="employmenttype" required>
                            <option value="<%= resume.employmenttype %>" ><%= resume.employmenttype %></option>
                                <option value="Part time">Part time</option>
                                <option value="Full time">Full time</option>
                                <option value="Event">Event</option>
                        </select>
                    </div><br>
                    <div class="form-group">
                        <label id="inputdate" for="inputDate">ช่วงเวลาที่สะดวกทำงาน</label>
                        <div class="form-group">
                            <div class="form-row">
                            <div class="form-row col-lg-6">
                            <label for="inputTime">ตั้งแต่</label>
                            <input type="time" class="form-control" id="inputTime" name="starttime" value="<%= resume.starttime %>"required/>
                        </div>
                        <div class="form-row col-lg-6">
                            <label for="inputTime">ถึง</label>
                            <input type="time" class="form-control" id="inputTime" name="finishtime" value="<%= resume.finishtime %>"required/>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="form-select">
                        <label for="selectTypejob">รายได้ที่คาดว่าจะได้รับ</label>
                            <select class="form-control" name="salary" value="<%= resume.salary %>"required>
                                <option value="<%= resume.salary %>" ><%= resume.salary %></option>
                                <option value="น้อยกว่า 10000 บาท"> น้อยกว่า 10000 บาท</option>
                                <option value="10000-20000 บาท"> 10000-20000 บาท</option>
                                <option value="20000-30000 บาท"> 20000-30000 บาท</option>
                                <option value="30000-40000 บาท"> 30000-40000 บาท</option>
                                <option value="40000-50000 บาท"> 40000-50000 บาท</option>
                                <option value="50000 บาทขึ้นไป"> 50000 บาทขึ้นไป </option>
                            </select>
                    </div><br>
                    <div class="form-group">
                        <label for="inputAbout">ข้อมูลเพิ่มเติมเกี่ยวกับผู้สมัครงาน</label>
                        <textarea input type="text" class="form-control" rows="4" name="description" ><%=resume.description%></textarea>
                        <!-- <input type="text" class="form-control" name="description" value="<%= resume.description %>"> -->
                    </div>
                    <div class="form-group">
                        <label for="udloadRerume">อัพโหลดเรซูเม่</label>
                        <input type="file" class="form-control-file" id="file" value="" name="file">
                    </div>
                    <div class="topic">
                        <p><i class="fas fa-phone-alt"></i>ส่วนที่ 3 : ข้อมูลการติดต่อ</p>
                        <div class="line"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputContact">ช่องทางการติดต่อ</label>
                        <textarea class="form-control" id="Textarea" rows="4" name="contact"><%=resume.contact%></textarea>
                    </div><br>
                    <!-- <div class="topic">
                        <p><i class="fas fa-tasks"></i>ส่วนที่ 4 : </p>
                        <div class="line"></div>
                    </div>
                    <div class="form-check">
                        <div class="check1">
                            <input type="checkbox" class="form-check-input" required>
                            <label class="form-check-label" for="Check">ฉันขอยืนยัน นอนยัน นั่งยันว่าข้อมูลทั้งหมดเป็นความจริงและยินยอมให้เปิดเผยข้อมูลนี้</label> 
                        </div>
                        <div class="check2">
                            <input type="checkbox" class="form-check-input" required>
                            <label class="form-check-label" for="Check2">ฉันได้อ่านและยอมรับ <a href="">เงื่อนไขและข้อตกลงในการใช้บริการเว็ปไซต์</a></label>
                        </div>
                      </div><br>   -->
                      
                    <div  align="center">
                        <!-- <a  href="/My_resume/<%= resume._id%>" type="reset" class="btn btn-danger col-xs-1 col-sm-4 col-lg-4"> Cancel </a> -->
                        <button type="submit" class="btn btn-success col-xs-1 col-sm-4 col-lg-4"> ยืนยัน </button>   
                        <a type="reset" href="/findjob/My_resume/<%= resume.id %>" class="btn btn-danger col-xs-1 col-sm-4 col-lg-4 "> ยกเลิก </a>   
                    </div>    
                    <br>
            </form>
        </div>
    </div>
</div>
</body>
<%- include("../partials/footer")%>


