<%- include("../partials/header")%>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="http://ajac.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="jQueryA.js"></script>  
  <script src="jquery-ui.js"></script>
  <Link href="jquery-ui.css" rel="stylesheet">
  <Link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" >
</head>



<div class="container">
    <br>
    <br>
    <form class="form-row" style="text-align: left;" action="/joblist" method="POST">
      <div class="col-md-3 mb-4">
          <label for="inputcompanyname">บริษัท</label><br>
          <input type="text" id="companyname" name="searchcompanyname" >
      </div>
      <div class="col-md-3 mb-4">
          <label for="inputsalary">เงินเดือน</label><br>
          <input type="text" id="salary" name="searchsalary">
      </div>
      <br>
      <select class="form-control col-md-3 mb-4" name="searchemploymenttype" > 
        <option value="">ลักษณะการว่าจ้าง</option>
          <option value="Part time">Part time</option>
          <option value="Full time">Full time</option>
          <option value="Event">Event</option>
      </select>
     
      <br>
      <div align="right">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </div>  

    </form>


  <h1 class="my-4">LIKED
    <!-- <small>find your job</small> -->
    </h1>
        <% favouritejob.favourite.forEach(function(jobliked){ %>
        <!-- Project One -->
        <% console.log(jobliked) %>
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= jobliked.image %>" width="700" height="300" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3><%= jobliked.companyname %></h3>
            <p><%= jobliked.qualti %></p>
            <p><%= jobliked.employmenttype %></p>
            <p><%= jobliked.salary %></p>
            <br>
            <a action="GET" class="btn btn-primary" href="/joblist/<%= jobliked._id %>">View Project</a>
          </div>
        </div>
        <!-- /.row -->
      <hr>
      <% }); %>
  
</div>



<%- include("../partials/footer")%>