<%- include("../partials/header")%>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="http://ajac.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="jQueryA.js"></script>  
  <script src="jquery-ui.js"></script>
  <Link href="jquery-ui.css" rel="stylesheet">
  <Link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" >
  <link rel="stylesheet" href="/css/list.css">

</head>


<div class="container">
  <% if(favouritejob.favouritejob.length == "0"){ %>
    <h1><center>ไม่พบงานที่บันทึกไว้</center></h1>
    <% } else { %>
      <h1>LIKED <%= favouritejob.favouritejob.length %> งาน</h1>
    <%}%>

  
        <% favouritejob.favouritejob.forEach(function(jobliked){ %>
        
        
        <div class="row">
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= jobliked.image %>" width="700" height="300" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <% console.log(jobliked.companyname)%>
            <h3><%= jobliked.companyname %></h3>
            <p><%= jobliked.qualti %></p>
            <p><%= jobliked.employmenttype %></p>
            <p><%= jobliked.salary %></p>
            <br>
            <a action="GET" class="btn btn-primary" href="/findjob/joblist/<%= jobliked._id %>">View Project</a>
          </div>
        </div>
        
      <hr>
      <% }); %>
      
      </ul>
</div> -->

<div class="container col-lg-6">
  <% favouritejob.favouritejob.forEach(function(jobliked){ %>
    <div class="card mb-">
        <div class="card-body">
            <div class="border-block">
              <div class="row">
                <div class="col-lg-4">
                  <a href="#">
                    <img style="width: 600px; height: 250px; object-fit: cover;" class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= jobliked.image %>" alt="">
                  </a>
                </div>
                <div class="col-lg-8">
                  <div class="row">
                    <img src="../../images/shopper.svg" alt="" id="icon-list" class="col-lg-2">
                    <p class="col-lg-8"><%= jobliked.companyname %></p>
                  </div>
                   <div class="row">
                    <img src="../../images/deal.svg" alt="" id="icon-list" class="col-lg-2">
                    <p class="col-lg-8"><%= jobliked.qualti %></p>
                  </div>
                  <div class="row">
                    <img src="../../images/signature.svg" alt="" id="icon-list" class="col-lg-2">
                    <p class="col-lg-8"><%= jobliked.employmenttype %></p>
                  </div>
                  <div class="row">
                    <img src="../../images/money.svg" alt="" id="icon-list" class="col-lg-2">
                    <p class="col-lg-8"><%= jobliked.salary %></p>
                  </div>
                  <div class="col-lg-12" align="right">
                    <a action="GET" class="btn btn-primary btn-readmore" href="/findjob/joblist/<%= jobliked._id %>">อ่านเพิ่มเติม</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </div>
      <% }); %>

</div>

<%- include("../partials/footer")%>