<%- include("../partials/header")%>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/list.css">
</head>

<div class="container ">
    <form class="form-row" style="text-align: left;" action="/findjob/joblist" method="POST">
      <div class="col-md-3 mb-4">
          <label for="inputcompanyname">บริษัท</label><br>
          <input type="text" id="companyname" name="searchcompanyname" >
      </div>
      <div class="col-md-3 mb-4">
          <label for="selectTypejob">รายได้ที่คาดว่าจะได้รับ</label>
              <select class="form-control" id="salary" name="searchsalary" >
                <option value="">เลือกรายได้</option>
                <option value="น้อยกว่า 10000 บาท"> น้อยกว่า 10000 บาท</option>
                <option value="10000-20000 บาท"> 10000-20000 บาท</option>
                <option value="20000-30000 บาท"> 20000-30000 บาท</option>
                <option value="30000-40000 บาท"> 30000-40000 บาท</option>
                <option value="40000-50000 บาท"> 40000-50000 บาท</option>
                <option value="50000 บาทขึ้นไป"> 50000 บาทขึ้นไป </option>
              </select>
      </div>

      <select class="form-control col-md-3 mb-4" name="searchemploymenttype" > 
          <option value="">เลือกประเภทการว่าจ้าง</option>
          <option value="Part time">Part time</option>
          <option value="Full time">Full time</option>
          <option value="Event">Event</option>
      </select>

      <select class="form-control col-md-3 mb-4" name="searchjobtype" > 
          <option value="">เลือกประเภทงาน</option>
          <option value="งานบ้าน">งานบ้าน</option>
          <option value="งานครัว">งานครัว</option>
          <option value="งานช่าง">งานช่าง</option>
          <option value="งานพี่เลี้ยงเด็ก">งานพี่เลี้ยงเด็ก</option>
          <option value="งานสอนหนังสือ">งานสอนหนังสือ</option>
          <option value="งานขาย">งานขาย</option>
          <option value="งานบริการลูกค้า">งานบริการลูกค้า</option>
          <option value="งานคลังสินค้า">งานคลังสินค้า</option>
          <option value="งานธุรการ">งานธุรการ</option>
          <option value="งานแคชเชียร์">งานแคชเชียร์</option>
          <option value="งานส่งสินค้า">งานส่งสินค้า</option>
          <option value="งานขับรถ">งานขับรถ</option>
          <option value="งานบัญชีและการเงิน">งานบัญชีและการเงิน</option>
          <option value="งานจัดซื้อ">งานจัดซื้อ</option>
          <option value="งานก่อสร้าง">งานก่อสร้าง</option>
          <option value="งานทำความสะอาด">งานทำความสะอาด</option>
          <option value="งานตัวแทนจำหน่าย">งานตัวแทนจำหน่าย</option>
          <option value="งานบริการความงาม">งานบริการความงาม</option>
          <option value="งานรักษาความปลอดภัย">งานรักษาความปลอดภัย</option>
          <option value="งานถ่ายภาพ">งานถ่ายภาพ</option>
          <option value="อื่น...">อื่น...</option>

      </select>
    
    
    
<<<<<<< HEAD
    <!-- <tr>
        <td>อำเภอ : </td>
        <td><select id="province"  name="searchprovince">
            <option value="">- กรุณาเลือกจังหวัด -</option>
          </select></td>
      </tr> -->

=======
 
     
      <br>
>>>>>>> 566ce9a79fdeb65b2d3d52673edc534319a792af
      <div align="right">
        <button type="submit" class="btn btn-primary mb-2">Search</button> 
      </div>  

    </form>
  </div>
    <!-- <div class="border-block">
        <% Job.forEach(function(job){ %>
<<<<<<< HEAD
        
        <div class="row">
=======
        <!-- Project One -->
        <div class="row" >
>>>>>>> 566ce9a79fdeb65b2d3d52673edc534319a792af
          <div class="col-md-7">
            <a href="#">
              <img class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= job.image %>"  width="700" height="300" alt="">
            </a>
          </div>
          
          <div class="col-md-5">
            <h3><%= job.companyname %></h3>
            <p><%= job.qualti %></p>
            <p><%= job.employmenttype %></p>
            <p><%= job.salary %></p>
            <a action="GET" class="btn btn-primary" href="/findjob/joblist/<%= job._id %>">View Project</a>
          </div>
            
        </div>
      <% }); %>
      </div> -->
</div>
<div class="container py-5">
  <h1 class="my-4">JOB LIST</h1>
  <div class="row py-5">
      <div class="col-lg-10">
        <% Job.forEach(function(job){ %>
          <div class="card  mb-4">
              <div class="card-body p-5">
                  <div class="border-block">
                    <div class="row">
                      <div class="col-md-7">
                        <a href="#">
                          <img class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= job.image %>"  width="700" height="300" alt="">
                        </a>
                      </div>
                      <div class="col-md-5">
                        <h3><%= job.companyname %></h3>
                        <p><%= job.qualti %></p>
                        <p><%= job.employmenttype %></p>
                        <p><%= job.salary %></p>
                        <a action="GET" class="btn btn-primary" href="/findjob/joblist/<%= job._id %>">View Project</a>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        <% }); %> 
      </div>
  </div>
</div>
<%- include("../partials/footer")%>

