<%- include("../partials/header")%>
<% var count = 0%>
<head>
  <link rel="stylesheet" href="/css/list.css">

</head>
<div class="container">
  <h1 class="my-4">My Resume
    <!-- <small>find your job</small> -->
  </h1>
  <% MyResume.resumes.forEach(function(resume){ %>
    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="/resumeimage/<%= resume.image %>" width="300" height="300"  alt="">
        </a>
      </div>
      <div class="col-md-5">
            <h4>ชื่อ-สกุล           :  <%= resume.firstname %> <%= resume.lastname%> </h4>
            <h5>ประเภทการจ้างงาน   : <%= resume.employmenttype %></h5>
            <h5>ประเเภทงาน        : <%= resume.jobtype %> </h5>
            <h5>วันทีี่แก้ไขล่าสุด      : <%= resume.editdate%></h5>
        <a action="GET" class="btn btn-primary" href="/findjob/My_resume/<%= resume._id %>">see more detail</a>
      </div>
    </div>
    <!-- /.row -->
    <hr>
  <% })  %>
      </ul>
    </div>
<%- include("../partials/footer")%>