<%- include("../partials/header")%>
<% var count = 0%>
<head>
    <link rel="stylesheet" href="/css/My_resume.css">
</head>

<div class="container col-lg-8 col-md-10 col-sm-10 col-xs-12">
    <!-- <div class="col-lg-12 row">
      <div class="left col-lg-6">
      </div>
        <div class="right col-lg-6">
          <img clss="" src="../../images/bg-resume5.svg" alt=""width="350" height="350">
        </div>
    </div> -->
  <% MyResume.resumes.forEach(function(resume){ %>
    <div class="">
     <h1> <i class="far fa-file"></i>ใบสมัครงานของฉัน</h1>
    </div>
    <hr>
    <div class="row inner">
      <div class="col-md-4 md-" align="center" >
        <a href="#">
          <img style="width: 300px; height: 300px; object-fit: cover;" class="img-thumbnail rounded mb-4 mb-md-0" src="/resumeimage/<%= resume.image %>"> 
        </a>  
      </div>
      <div class="col-md-7 info">
        <div class="row">
          <h5>ชื่อ-สกุล</h5>
          <p><%= resume.firstname %> <%= resume.lastname%></p>
        </div>
          <div class="row">
             <h5>ประเภทการจ้างงาน</h5>
             <p><%= resume.employmenttype %></p>
          </div>
           <div class="row">
             <h5>ประเภทสัญญาจ้าง</h5>
             <p><%= resume.jobtype %></p>
           </div>
            <div class="row">
              <h5>เวลาที่สะดวกทำงาน  </h5>
              <p><%= resume.starttime %> - <%= resume.finishtime %> น.</p>
            </div>
            <div class="row">
              <h5>วันที่แก้ไขล่าสุด</h5>
              <p><%= resume.editdate%></p>
            </div>
            <div class="mb-3" align="right">
              <a  action="GET" class="btn btn-primary btn-seemore" href="/findjob/My_resume/<%= resume._id %>">อ่านเพิ่มเติม</a>
              <br>
            </div>
      </div>
    </div>
  <% })  %>
</div>
<%- include("../partials/footer")%>
