<%- include("../partials/header")%>

<div class="row col-lg-12">
    <div class="col-lg-5">

        <h1 align="center"> joblist </h1>
        
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ชื่อบริษัท</th>
                <th scope="col">ชนิดการจ้าง</th>
                <th scope="col">จังหวัด</th>
                <th scope="col">ประเภทงาน</th>
                <th scope="col">ตำแน่งงาน</th>
                <th scope="col">detail</th>
              </tr>
            </thead>
            
            <tbody>
              <% job.forEach(function(job){ %>
              <tr>
                
                <td> <%= job.companyname %></td>
                <td> <%= job.employmenttype %></td>
                <td> <%= job.province %></td>
                <td> <%= job.jobtype %></td>
                <td> <%= job.jobpos %></td>
                <td action="GET" class="btn btn-primary btn-readmore" href="/admin/project/checkjob/<%= job._id %>">ตรวจสอบเพิ่มเติม</td>
              </tr>
              
              <% }) %>
            </tbody>

          </table>

    </div>

    <div class="col-lg-2" >

        <h1 align="center"> admin page </h1>

    </div>

    <div class="col-lg-5" >

        <h1 align="center"> worker page </h1>

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">ชื่อจริง</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <% resume.forEach(function(resume){ %>
                <tr>
                  <th scope="row"><%= resume._id %></th>
                  <td> <%= resume.firstname %></td>
                  <td> <%= resume.lastname %></td>
                  <td> <%= resume.employmenttype %></td>
                  <td> <%= resume.jobtype %></td>
                  <td action="GET" class="btn btn-primary btn-readmore" href="/admin/project/checkresume/<%= resume._id %>">ตรวจสอบเพิ่มเติม</td>
                </tr>
                <% }) %>
              
            </tbody>
          </table>
    </div>
</div>

<%- include("../partials/footer")%>