<%- include("../partials/header")%>
<div class="row col-lg-12">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" >

        <h1 align="center"> worker page </h1>

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">เลขระบุตัวตน</th>
                <th scope="col">ชื่อจริง</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">ชนิดการจ้างงาน</th>
                <th scope="col">ประเภทงาน</th>
                <th scope="col">ข้อมูลเพิ่มเติม/จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <% resume.forEach(function(resume){ %>
                <tr>
                  <td> <%= resume._id %></td>
                  <td> <%= resume.firstname %></td>
                  <td> <%= resume.lastname %></td>
                  <td> <%= resume.employmenttype %></td>
                  <td> <%= resume.jobtype %></td>
                  <td>
                      <a action="GET" class="btn btn-primary btn-readmore" href="/admin/projects/checkresume/<%= resume._id %>" > ตรวจสอบเพิ่มเติม </a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          <div class="col-lg-1"></div>
    </div>
</div>
