<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FJ:FIND-JOB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cc4a7a1701.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/header.css"> 
        <script src="/javascripts/script.js" defer></script>
    </head>
    <body   onload="init();">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">
          <img href="/" src="/images/logo.PNG" width="250" height="75" class="d-inline-block align-top " alt="">
          
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03" >
          <% if(!currentUser){ %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" >
              <a class="nav-link" href="/findjob">Find-JOB</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="/findworker">Find-Worker</a>
            </li>
          </ul>
        <% } else if (currentUser.type === 'operator') { %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/findworker/workerlist">LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/findworker/postjob">Post Job</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/findworker/worker_like">Liked</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/findworker/My_post">My post</a>
            </li>
          </ul>
          <% } else if (currentUser.type === 'worker') { %>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/findjob/joblist">LIST</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/findjob/resume">RESUME</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/findjob/job_like">Liked</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/findjob/My_resume">My resume</a>
              </li>
            </ul>
          <% } %>
          <div>
            <form class="form-inline">
              <i class="fa fa-search" aria-hidden="true">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ค้นหา</button>
              </i>
            </form>
          </div>
          <div class="dropdown" style="float:right;">
          <form class="form-inline"> 
            <% if(!currentUser){ %>
              <a href="/login" class="btn btn-outline-success" type="submit">Sign in</a>
            <% } else if (currentUser.type === "operator"){ %>
              <div class="dropdown-content">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></button>
                <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></button> -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/findworker/profile/<%= currentUser.id %>>">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
              <% } else if (currentUser.type === "worker"){ %>
              <div class="dropdown-content">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></button>
                <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= currentUser.username %></button> -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/findjob/profile/<%= currentUser.id %>>">Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </div>
            <% } %>
            
          </form>
        </div>
        </div>
      </nav>

    <% if (error && error.length > 0) { %>
      <div class="alert alert-danger" role="alert">
        <%=  error  %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>

    <% if (success && success.length > 0) { %>
      <div class="alert alert-success" role="alert">
        <%=  success  %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  </body>