<%- include("../partials/header")%>
    
<head>
    <% var lon %>
    <% var lat %>
    <% var country %>
    <% var district %>
    <% var postcode %>
    <% var province %>
    <% var subdistrict %>
    <% var aoi %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://api.longdo.com/map/?key=e655c57b1010fe433aa7d6e1a0aeb9e2"></script>
        <script>
           var map;  
           var search;
           var suggest;
          function init() {
              map = new longdo.Map({
              placeholder: document.getElementById('map'),
              ui: longdo.UiComponent.Mobile 
            });
            lon = document.getElementById('lon').value
            lat = document.getElementById('lat').value
            map.zoom(16, true);
            map.location({ lon: lon, lat: lat }, true);
            var marker = new longdo.Marker({ lon: lon, lat: lat });
            map.Overlays.add(marker);
            search = document.getElementById('search');
            suggest = document.getElementById('suggest');
            finalresult = document.getElementById('finalresult');
            map.Search.placeholder(
                document.getElementById('result')
            );
            //When user press an Enter button #search
            
            search.oninput = function() {
                if (search.value.length < 3) {
                    suggest.style.display = 'none';
                    return;
                }
                
                map.Search.suggest(search.value, {
                });
            };
            map.Event.bind('suggest', function(result) {
                if (result.meta.keyword != search.value) return;
                
                suggest.innerHTML = '';
                for (var i = 0, item; item = result.data[i]; ++i) {
                    longdo.Util.append(suggest, 'a', {
                    innerHTML: item.d,
                    href: 'javascript:doSuggest(\'' + item.w + '\')'
                    });
                }
                suggest.style.display = 'flex';
            });
          }
            function rerverseGeocoding() { 
            $.ajax({ 
                    url: "https://api.longdo.com/map/services/address?", 
                    dataType: "json", 
                    type: "GET", 
                    contentType: "application/json", 
                    data: {
                        key: "e655c57b1010fe433aa7d6e1a0aeb9e2",
                        lon: lon,
                        lat: lat
                },
                success: function (results)
                {
                    country = results.country;
                    district = results.district;
                    postcode =results.postcode; 
                    province = results.province;
                    subdistrict = results.subdistrict;
                    aoi = results.aoi;
                    document.getElementById("locate").innerHTML = country+' '+district+' '+subdistrict+' '+province+' '+postcode;
                    document.getElementById("country").value = country;
                    document.getElementById("district").value = district;
                    document.getElementById("postcode").value = postcode;
                    document.getElementById("province").value = province;
                    document.getElementById("subdistrict").value = subdistrict;
                    document.getElementById("aoi").value = aoi;
                    document.getElementById("lon").value = lon;
                    document.getElementById("lat").value = lat;
                    
                },
                error: function (response)
                {
                    console.log(response);
                }
            });
          }

          function doSearch() {
          map.Search.search(search.value, { 
          });
             suggest.style.display = 'none';
             result = map.location();
             lon    = result.lon;
             lat    = result.lat;
             rerverseGeocoding();
          }

          function doSuggest(value) {
            search.value = value;
            doSearch();
          }   
          
        </script>

    <head>
        <link rel="stylesheet" href="/css/resume.css">
        <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    </head>

    <div class="container col-xs-6 col-lg-7">

        <form style="text-align: left;" action="/findworker/My_post/<%= job._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="oldimage" value="<%= job.image%>">
        <input type="hidden" name="oldfile" value="<%= job.file%>">
            <div class="findjob-form">
            <div class="text-center pt-5">
                <img src="/images/logo.png" alt="network-logo" width="230" height="70" />
                <p>
                  find your part-time jobs form
                </p>
                <p>สำหรับบริษัท</p>
            </div>
            <div class="block-info text-form ">
                
                    <div class="">
                        <div class="topic">
                            <p><i class="far fa-building"></i> ส่วนที่ 1 : ข้อมูลบริษัทห้างร้าน </p>
                            <div class="line"></div>
                        </div>
                        <input type="hidden" name="username" value="<%= currentUser.username %>">
                        <div class="form-row">
                            <div class="form-group   col-xs-8 col-sm-8 col-md-8 col-lg-5">
                                <label id="head" for="uploadimage">อัพโหลดรูป</label>
                                <input type="file" class="form-control-file"  name="image">
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-7">
                                <label id="head" for="inputname">ชื่อบริษัท/ห้างร้าน</label>
                                <input type="text" class="form-control" name="companyname" value="<%= job.companyname%>" required>
                            </div>
                        </div>
                        <div class="topic">
                            <p><i class="fas fa-address-card"></i>ส่วนที่ 2 : ข้อมูลงาน</p>
                            <div class="line"></div> 
                        </div>
                        <div class="form-select">
                           <label id="head" for="selectTypejob">ประเภทงานที่ต้องการรับสมัคร</label>
                           <select class="form-control" name="jobtype" required>
                            <option value="<%= job.jobtype%> " ><%= job.jobtype%></option>
                            <option value="งานบ้าน">งานบ้าน</option>
                            <option value="งานครัว">งานครัว</option>
                            <option value="งานช่าง">งานช่าง</option>
                            <option value="งานพี่เลี้ยงเด็ก">งานพี่เลี้ยงเด็ก</option>
                            <option value="งานสอนหนังสือ">งานสอนหนังสือ</option>
                            <option value="งานขาย">งานขาย</option>
                            <option value="งานบริการลูกค้า">งานบริการลูกค้า</option>
                            <option value="งานคลังสินค้า">งานคลังสินค้า</option>
                            <option value="งานธุรการ">งานธุรการ</option>
                            <option value="งานแคชเชียร์">งานแคชเชียร์</option>
                            <option value="งานส่งสินค้า">งานส่งสินค้า</option>
                            <option value="งานขับรถ">งานขับรถ</option>
                            <option value="งานบัญชีและการเงิน">งานบัญชีและการเงิน</option>
                            <option value="งานจัดซื้อ">งานจัดซื้อ</option>
                            <option value="งานก่อสร้าง">งานก่อสร้าง</option>
                            <option value="งานทำความสะอาด">งานทำความสะอาด</option>
                            <option value="งานตัวแทนจำหน่าย">งานตัวแทนจำหน่าย</option>
                            <option value="งานบริการความงาม">งานบริการความงาม</option>
                            <option value="งานรักษาความปลอดภัย">งานรักษาความปลอดภัย</option>
                            <option value="งานถ่ายภาพ">งานถ่ายภาพ</option>
                            <option value="อื่น...">อื่น...</option>
                        </select><br>
                        <label id="head" for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" name="employmenttype"required>
                            <option value="<%= job.employmenttype%>" ><%= job.employmenttype%></option>
                            <option value="Part time">Part time</option>
                            <option value="Event">Event</option>
                            <option value="ฝึกงาน">ฝึกงาน</option>
                        </select>
                        </div><br>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label id="head" for="inputposition">ตำแหน่งงาน</label>
                                <input type="text" class="form-control" name="jobpos" value="<%= job.jobpos %>">
                            </div>
                            <div class=" form-group col-lg-6">
                                <label id="head" for="selectTypejob">ค่าแรง</label>
                                <select class="form-control" name="salary" required>
                                    <option value="<%= job.salary %>"><%= job.salary %></option>
                                    <option value="น้อยกว่า 200 บาท/วัน"> น้อยกว่า 200 บาท/วัน</option>
                                    <option value="200-300 บาท/วัน"> 200-300 บาท/วัน</option>
                                    <option value="300-400 บาท/วัน"> 300-400 บาท/วัน</option>
                                    <option value="400-500 บาท/วัน"> 400-500 บาท/วัน</option>
                                    <option value="มากกว่า 500 บาท/วัน"> มากกว่า 500 บาท/วัน</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <br>
                                <label id="head" for="inputDate">ช่วงเวลาทำงาน</label>
                              </div>
                            <div class="form-group col-md-4">
                                <label id="head" for="inputTime">ตั้งแต่</label>
                                <input type="time" class="form-control" id="inputTime" name="starttime" value="<%= job.starttime %>" required/>
                            </div>
                            <div class="form-group col-md-4">
                                <label id="head" for="inputTime">ถึง</label>
                                <input type="time" class="form-control" id="inputTime" name="finishtime" value="<%= job.finishtime %>"required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label id="head" for="inputQualifications">คุณสมบัติของผู้สมัครงาน</label>
                            <textarea type="text" class="form-control" id="Textarea" rows="4" name="qualti" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น" required><%= job.qualti %></textarea>
                        </div>
                        <div class="form-group">
                            <label id="head" for="udloadResume">อัพโหลดเอกสารประกอบการสมัคร/เอกสารรายละเอียดเกณฑ์การรับสมัคร</label>
                            <input type="file" class="form-control-file" id="fileapp" name="file" >
                        </div>
                        <div class="topic">
                            <p><i class="fas fa-phone-alt"></i>ส่วนที่ 3 : ข้อมูลการติดต่อ</p>
                            <div class="line"></div>
                        </div>
                        <div class="form-group ">
                            <label id="head" for="inputContact">ช่องทางการติดต่อบริษัท/ห้างร้าน</label>
                            <textarea  type="text"  class="form-control" id="Textarea" rows="4" name="contact" placeholder="Facebook,Email,line,เบอร์โทรศัพท์"><%= job.contact %></textarea>
                        </div>

                        <div class="mapbody form-control">
                            <div id="map"></div>
                            <div id="searchplace">
                                <label for=""> ค้นหาสถานที่</label>
                              <input id ="search">
                              <div id ="suggest"></div>
                              
                              <div id="result"></div>
                            </div>
                            <a class="btn btn-success btn-search" id="button" onclick="doSearch()">บันทึก</a>
                        </div><br>
                        <div>
                            <label >สถานที่ตั้งบริษัท/ร้านตามแผนที่   : </label>
                            <label id="locate"> </locate>
                        </div>
                                          
                      
                        <div>
                            <input type="hidden"  id="lon" name="lon" value="<%= job.lon %>">
                            <input type="hidden"  id="lat" name="lat" value="<%= job.lat %>">
                            <input type="hidden"  id="country" name="country" value="<%= job.country %>">
                            <input type="hidden"  id="district" name="district" value="<%= job.district %>">
                            <input type="hidden"  id="subdistrict" name="subdistrict" value="<%= job.subdistrict %>">
                            <input type="hidden"  id="province" name="province" value="<%= job.province %>">
                            <input type="hidden"  id="postcode" name="postcode" value="<%= job.postcode %>">
                            <input type="hidden"  id="aoi" name="aoi" value="<%= job.aoi %>">
                        </div>   

                    </div>   
                
            </div>
        </div>
        <div class="form-row ">
                <div class="col mb-4">
                    <button type="reset" class="btn btn-danger btn-delete col-lg-12"> ยกเลิก </button> 
                </div>

                <div class="col mb-4">
                    <button type="submit" class="btn btn-primary btn-edit col-lg-12"> ยืนยัน </button> 
                </div>
        </div>
        </form>
</div> 
    <!-- <div class="wave-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" 
            fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,181.3C384,171,480,117,576,96C672,75,768,85,864,106.7C960,128,1056,160,1152,160C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
        </svg>
        </div> -->

<%- include("../partials/footer")%>

<style>
    html {
      height: 100%;
    }
    body {
      margin: 0px;
      height: 100%;
    }
    .mapbody {
        margin: 0px;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    #map {
      height: 400px;
      flex: 5;
    }
    #searchplace{
        flex : 4;
    }

    #button{
        flex : 1;
        height: 100%;
    }

    #result {
        height: 400px;
        overflow-y: scroll;
    }
    #suggest {
        position: absolute;
        display: none;
        background-color: white;
        border: 1px solid #000000;
        padding: 4px;
        flex-direction: column;
    }
</style>