<%- include("../partials/header")%>
<div class="container">
    <div class="jumbotron" style="margin-top: 5%;margin-bottom: 5%">
    <div style="margin-left :10% ;margin-right: 10%">
    <div class="form">
        <h1 style="text-align: center;"> job appiction form</h1>
        <div>
            <form style="text-align: left;" action="/My_post/<%= job._id %>/edit?_method=PUT" method="POST">
                <input type="hidden" name="username" value="<%= currentUser.username %>">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputname">ชื่อบริษัท/ห้างร้าน</label>
                            <input type="text" class="form-control" placeholder="Company name" name="job[companyname]" value="<%= job.companyname %>" required>
                        </div>
                    </div><br>
                    <div class="form-select">
                    <label for="selectTypejob">ประเภทงานที่ต้องการรับสมัคร</label>
                        <select class="form-control" name="job[jobtype]" required>
                            <option value="<%= job.jobtype %>"><%= job.jobtype %></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select><br>
                    <label for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" name="job[employmenttype]"required>
                            <option value="<%= job.employmenttype %>"><%= job.employmenttype %></option>
                                <option >Part time</option>
                                <option >Full time</option>
                                <option >Event</option>
                        </select>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputposition">ตำแหน่งงาน</label>
                            <input type="text" class="form-control" name="job[jobpos]" value="<%= job.jobpos %>" placeholder="">
                        </div>
                        <div class="col-md-6 mb-5">
                            <label for="inputSalary">เงินเดือน</label><br>
                            <input type="number" id="salary" name="job[salary]" value="<%= job.salary %>"required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQualifications">คุณสมบัติของผู้สมัครงาน</label>
                        <input type="text" class="form-control" name="job[qualti]" value="<%= job.qualti %>" style="height:100px">
                    </div>
                    <div class="form-group">
                        <label for="inputContact">ช่องทางการติดต่อบริษัท/ห้างร้าน</label>
                        <input type="text" class="form-control" name="job[contact]" value="<%= job.contact %>"placeholder="Facebook,Email,line,เบอร์โทรศัพท์" style="height:100px">
                    </div>    
                    <div class="form-group">
                        <label for="inputContact">วันที่เริ่มทำงาน</label>
                        <input type="text" class="form-control" name="job[date]"  value="<%= job.date %>"  placeholder="Facebook,Email,line,เบอร์โทรศัพท์" style="height:100px">
                    </div> 
                    <div class="form-group">
                        <label for="inputContact">ระยะเวลาการทำงาน</label>
                        <input type="text" class="form-control" name="job[worktime]" value="<%= job.worktime %>" placeholder="Facebook,Email,line,เบอร์โทรศัพท์" style="height:100px">
                    </div>
                    <div class="form-group">
                        <label for="udloadRerume">อัพโหลดเอกสารประกอบการสมัคร/เอกสารรายละเอียดเกณฑ์การรับสมัคร</label>
                        <input type="file" class="form-control-file" id="uploadfile" name="job[file]" value="<%= job.file %>">
                    </div>     
                    <div class="button">
                        <button type="submit" class="btn btn-primary mb-2">SUBMIT</button>
                    </div>
                    
            </form>
        </div>
    </div>
    </div>
    </div>
</div>
<%- include("../partials/footer")%>