<%- include("../partials/header")%>
<head>
    <% var lon %>
    <% var lat %>
    <% var country %>
    <% var district %>
    <% var postcode %>
    <% var province %>
    <% var subdistrict %>
    <% var aoi %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://api.longdo.com/map/?key=e655c57b1010fe433aa7d6e1a0aeb9e2"></script>
        <script>
           var map;  
           var search;
           var suggest;
          function init() {
              map = new longdo.Map({
              placeholder: document.getElementById('map'),
              ui: longdo.UiComponent.Mobile 
            });
            lonn = document.getElementById('lon').value
            latt = document.getElementById('lat').value
            map.zoom(16, true);
            map.location({ lon: lonn, lat: latt }, true);
            search = document.getElementById('search');
            suggest = document.getElementById('suggest');
            finalresult = document.getElementById('finalresult');
            map.Search.placeholder(
                document.getElementById('result')
            );
            //When user press an Enter button #search
            search.onkeyup = function(event) {
              if((event || window.event).keyCode != 13)
                return;
                doSearch();
            }
            search.oninput = function() {
                if (search.value.length < 3) {
                    suggest.style.display = 'none';
                    return;
                }
                
                map.Search.suggest(search.value, {
                });
            };
            map.Event.bind('suggest', function(result) {
                if (result.meta.keyword != search.value) return;
                
                suggest.innerHTML = '';
                for (var i = 0, item; item = result.data[i]; ++i) {
                    longdo.Util.append(suggest, 'a', {
                    innerHTML: item.d,
                    href: 'javascript:doSuggest(\'' + item.w + '\')'
                    });
                }
                suggest.style.display = 'flex';
            });
          }
            function rerverseGeocoding() { 
            $.ajax({ 
                    url: "https://api.longdo.com/map/services/address?", 
                    dataType: "json", 
                    type: "GET", 
                    contentType: "application/json", 
                    data: {
                        key: "e655c57b1010fe433aa7d6e1a0aeb9e2",
                        lon: lon,
                        lat: lat
                },
                success: function (results)
                {
                    console.log(results);
                    console.log(results.country);
                    console.log(results.district);
                    console.log(results.postcode);
                    console.log(results.province);
                    console.log(results.subdistrict);
                    console.log(results.aoi);
                    country = results.country;
                    district = results.district;
                    postcode =results.postcode; 
                    province = results.province;
                    subdistrict = results.subdistrict;
                    aoi = results.aoi;
                    document.getElementById("locate").innerHTML = country+' '+district+' '+subdistrict+' '+province+' '+postcode;
                    document.getElementById("country").value = country;
                    document.getElementById("district").value = district;
                    document.getElementById("postcode").value = postcode;
                    document.getElementById("province").value = province;
                    document.getElementById("subdistrict").value = subdistrict;
                    document.getElementById("aoi").value = aoi;
                    document.getElementById("lon").value = lon;
                    document.getElementById("lat").value = lat;
                    
                },
                error: function (response)
                {
                    console.log(response);
                }
            });
          }

          function doSearch() {
          map.Search.search(search.value, { 
          });
             suggest.style.display = 'none';
             result = map.location();
             lon    = result.lon;
             lat    = result.lat;
             rerverseGeocoding();
          }

          function doSuggest(value) {
            search.value = value;
            doSearch();
          }   
          
        </script>

</head>
<div class="container">
    <div class="jumbotron" style="margin-top: 5%;margin-bottom: 5%">
    <div style="margin-left :10% ;margin-right: 10%">
    <div class="form">
        <h1 style="text-align: center;"> job appiction form</h1>
        <div>
            <form style="text-align: left;" action="/findworker/My_post/<%= job._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="username" value="<%= currentUser.username %>">
                <input type="hidden" name="oldfile" value="<%= job.file %>">
                <input type="hidden" name="oldimage" value="<%= job.image %>">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputname">ชื่อบริษัท/ห้างร้าน</label>
                            <input type="text" class="form-control" placeholder="Company name" name="companyname" value="<%= job.companyname %>" required>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label for="uploadimage">อัพโหลดรูป</label>
                        <input type="file" class="form-control-file"  name="image">
                    </div>  
                    <div class="form-select">
                    <label for="selectTypejob">ประเภทงานที่ต้องการรับสมัคร</label>
                        <select class="form-control" name="jobtype" required>
                            <option value="<%= job.jobtype %>"><%= job.jobtype %></option>
                            <option value="งานบ้าน">งานบ้าน</option>
                            <option value="งานครัว">งานครัว</option>
                            <option value="งานช่าง">งานช่าง</option>
                            <option value="งานพี่เลี้ยงเด็ก">งานพี่เลี้ยงเด็ก</option>
                            <option value="งานสอนหนังสือ">งานสอนหนังสือ</option>
                            <option value="งานขาย">งานขาย</option>
                            <option value="งานบริการลูกค้า">งานบริการลูกค้า</option>
                            <option value="งานคลังสินค้า">งานคลังสินค้า</option>
                            <option value="งานธุรการ">งานธุรการ</option>
                            <option value="งานแคชเชียร์">งานแคชเชียร์</option>
                            <option value="งานส่งสินค้า">งานส่งสินค้า</option>
                            <option value="งานขับรถ">งานขับรถ</option>
                            <option value="งานบัญชีและการเงิน">งานบัญชีและการเงิน</option>
                            <option value="งานจัดซื้อ">งานจัดซื้อ</option>
                            <option value="งานก่อสร้าง">งานก่อสร้าง</option>
                            <option value="งานทำความสะอาด">งานทำความสะอาด</option>
                            <option value="งานตัวแทนจำหน่าย">งานตัวแทนจำหน่าย</option>
                            <option value="งานบริการความงาม">งานบริการความงาม</option>
                            <option value="งานรักษาความปลอดภัย">งานรักษาความปลอดภัย</option>
                            <option value="งานถ่ายภาพ">งานถ่ายภาพ</option>
                            <option value="อื่น...">อื่น...</option>
                        </select><br>
                    <label for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" name="employmenttype"required>
                            <option value="<%= job.employmenttype %>"><%= job.employmenttype %></option>
                                <option >Part time</option>
                                <option >Full time</option>
                                <option >Event</option>
                                <option >ฝึกงาน</option> 
                        </select>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputposition">ตำแหน่งงาน</label>
                            <input type="text" class="form-control" name="jobpos" value="<%= job.jobpos %>" placeholder="">
                        </div>
                        <div class="col-md-6 mb-5">
                            <label for="selectTypejob">รายได้ที่คาดว่าจะได้รับ</label>
                            <select class="form-control" name="salary" value="<%= job.salary %>"required>
                                <!-- <option value="<%= job.employmenttype %>"><%= job.salary %></option> -->
                                <option value="น้อยกว่า 10000 บาท"> น้อยกว่า 10000 บาท</option>
                                <option value="10000-20000 บาท"> 10000-20000 บาท</option>
                                <option value="20000-30000 บาท"> 20000-30000 บาท</option>
                                <option value="30000-40000 บาท"> 30000-40000 บาท</option>
                                <option value="40000-50000 บาท"> 40000-50000 บาท</option>
                                <option value="50000 บาทขึ้นไป"> 50000 บาทขึ้นไป </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQualifications">คุณสมบัติของผู้สมัครงาน</label>
                        <input type="text" class="form-control" name="qualti" value="<%= job.qualti %>" style="height:100px">
                    </div>
                    <div class="form-group">
                        <label for="inputContact">ช่องทางการติดต่อบริษัท/ห้างร้าน</label>
                        <input type="text" class="form-control" name="contact" value="<%= job.contact %>"placeholder="Facebook,Email,line,เบอร์โทรศัพท์" style="height:100px">
                    </div>   
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <br>
                            <label for="inputDate">เวลาทำงาน</label>
                          </div>
                        <div class="form-group col-md-4">
                            <label for="inputTime">ตั้งแต่</label>
                            <input type="time" class="form-control" id="inputTime" name="starttime" value="<%= job.starttime %>" required/>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputTime">ถึง</label>
                            <input type="time" class="form-control" id="inputTime" name="finishtime" value="<%= job.finishtime %>" required/>
                        </div>
                </div>
                    <div class="form-group">
                        <label for="inputContact">ที่ตั้งบริษัท/ร้านค้า</label>
                        <input type="text" class="form-control" name="location" value="<%= job.location %>" style="height:100px" required>
                    </div>
                    <div class="form-group">
                        <label for="udloadRerume">อัพโหลดเอกสารประกอบการสมัคร/เอกสารรายละเอียดเกณฑ์การรับสมัคร</label>
                        <input type="file" class="form-control-file" id="uploadfile" name="file" value="<%= job.file %>">
                    </div>     
                    <div class="mapbody">
                        <div id="map"></div>
                        <div id="searchplace">
                          <input id ="search">
                          <div id ="suggest"></div>
                          <a class="btn btn-primary mb-2" onclick="doSearch()"></a>
                          <div id="result"></div>
                        </div>
                        </div>
                    <div>
                        <label  >สถานที่ตั้งบริษัท/ร้านตามแผนที่   :  </label>
                        <label id="locate"> <%= job.country %> <%= job.district %> <%= job.subdistrict %> <%= job.province%> <%= job.postcode %> </locate>
                            <a id="test"></a>
                    </div>
                    
                    <div>
                        <input type="hidden" id="lon" name = "lon" value="<%= job.lon %>">
                        <input type="hidden" id="lat" name = "lat" value="<%= job.lat %>">   
                        <input type="hidden"  id="country" name="country" value="<%= job.country %>">
                        <input type="hidden"  id="district" name="district" value="<%= job.district %>">
                        <input type="hidden"  id="subdistrict" name="subdistrict" value="<%= job.subdistrict %>">
                        <input type="hidden"  id="province" name="province" value="<%= job.province %>">
                        <input type="hidden"  id="postcode" name="postcode" value="<%= job.postcode %>">
                        <input type="hidden"  id="aoi" name="aoi" value="<%= job.aoi %>">
                    </div>  
                    <div class="button">
                        <button type="submit" class="btn btn-primary mb-2">SUBMIT</button>
                        <a  href="/findworker/My_post/<%= job._id%>" type="reset" class="btn btn-danger"> Cancel </a>  
                    </div>
                    
            </form>
        </div>
    </div>
    </div>
    </div>
</div>

<style>
    html {
      height: 100%;
    }
    body {
      margin: 0px;
      height: 100%;
    }
    .mapbody {
        margin: 0px;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    #map {
      height: 400px;
      flex: 4;
    }
    #searchplace{
        flex : 2
    }

    #result {
        height: 400px;
        overflow-y: scroll;
    }
    #suggest {
        position: absolute;
        display: none;
        background-color: white;
        border: 1px solid #000000;
        padding: 4px;
        flex-direction: column;
    }
    </style>
<%- include("../partials/footer")%>