<%- include("../partials/header")%>

<div class="container">
  <h1 class="my-4">LIKED
    <!-- <small>find your job</small> -->
    </h1>
    <% if(favouriteworker.favouriteresume.length == "0"){ %>
      <h1><center>ไม่พบงานที่ตรงกัน</center></h1>
      <% } else { %>
        <h1><center>พบงานที่ตรงกัน <%= favouriteworker.favouriteresume.length %></center></h1>
      <%}%>
<% favouriteworker.favouriteresume.forEach(function(resume){ %>
  
<div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="/resumeimage/<%= resume.image %>" width="300" height="300"  alt="">
      </a>
    </div>
    <div class="col-md-5">
          <h4>ชื่อ-สกุล           :  <%= resume.firstname %> <%= resume.lastname%> </h4>
          <h5>ประเภทการจ้างงาน   : <%= resume.employmenttype %></h5>
          <h5>ประเภทงาน        : <%= resume.jobtype %> </h5>
          <h5>ช่วงเวลาที่สะดวกทำงาน : <%= resume.starttime%> - <%= resume.finishtime %> น.</h5>
          <h5>วันทีี่แก้ไขล่าสุด      : <%= resume.editdate%></h5>
      <a action="GET" class="btn btn-primary" href="/findworker/workerlist/<%= resume._id %>">see more detail</a>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <% })  %>
</div>
<%- include("../partials/footer")%>

