<%- include("../partials/header")%>

<div class="container">
    <ul class="list-unstyled" style="margin-top: 10%;margin-bottom: 10%;">
      <% Resume.forEach(function(resume){ %>
        <div class="jumbotron"  >
          <div>
          <li class="media" >
            <img src="/images/<%= resume.user.img%>" class="mr-3">
            <div class="media-body">
              <h3 class="mt-0 mb-1"><%= resume.firstname %> <%= resume.lastname %></h3><br>
              <h4> <%= resume.description %> </h4>
              <h5> <%= resume.date %> </h5>
              <a action="GET" href="/workerlist/<%= resume._id %>">See more</a>
            </div>
          </li>
          </div>
          </div>

        
      <% }); %>
      </ul>
    </div>

<%- include("../partials/footer")%>