<%- include("../partials/header")%>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/list.css">
</head>

<div class="container col-xs-6 col-sm-10 col-md-10 col-lg-9" >
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#a2d9ff" fill-opacity="1" d="M0,256L48,229.3C96,203,192,149,288,138.7C384,128,480,160,576,176C672,192,768,192,864,192C960,192,1056,192,1152,181.3C1248,171,1344,149,1392,138.7L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg> -->
  <div class="block col-lg-12 form-row">
  <form  class="col-lg-8 col-md-12 col-sm-12" action="/findworker/workerlist" method="POST">
        <p>"ถึงจะไม่ใช่เว็บหาคู่แต่ก็หาคน(ทำงาน)ที่YOUถูกใจให้ได้น้าาาาาา</p>
    <div class="form-row line2 col-lg-12 ">
      <div class="col-lg-4">
        <label for="inputjobtype"><i class="fas fa-tasks"></i> ประเภทงาน</label> 
        <select class="form-control  inner-search" name="searchjobtype" > 
          <option value=""></option>
          <option value="งานบ้าน">งานบ้าน</option>
          <option value="งานครัว">งานครัว</option>
          <option value="งานช่าง">งานช่าง</option>
          <option value="งานพี่เลี้ยงเด็ก">งานพี่เลี้ยงเด็ก</option>
          <option value="งานสอนหนังสือ">งานสอนหนังสือ</option>
          <option value="งานขาย">งานขาย</option>
          <option value="งานบริการลูกค้า">งานบริการลูกค้า</option>
          <option value="งานคลังสินค้า">งานคลังสินค้า</option>
          <option value="งานธุรการ">งานธุรการ</option>
          <option value="งานแคชเชียร์">งานแคชเชียร์</option>
          <option value="งานส่งสินค้า">งานส่งสินค้า</option>
          <option value="งานขับรถ">งานขับรถ</option>
          <option value="งานบัญชีและการเงิน">งานบัญชีและการเงิน</option>
          <option value="งานจัดซื้อ">งานจัดซื้อ</option>
          <option value="งานก่อสร้าง">งานก่อสร้าง</option>
          <option value="งานทำความสะอาด">งานทำความสะอาด</option>
          <option value="งานตัวแทนจำหน่าย">งานตัวแทนจำหน่าย</option>
          <option value="งานบริการความงาม">งานบริการความงาม</option>
          <option value="งานรักษาความปลอดภัย">งานรักษาความปลอดภัย</option>
          <option value="งานถ่ายภาพ">งานถ่ายภาพ</option>
          <option value="อื่น...">อื่น...</option>
        </select>
      </div>
      
      <div class=" col-lg-4">
        <label for="inputemploymenttype"><i class="far fa-handshake"></i> ประเภทการจ้าง</label> 
        <select class="form-control inner-search col-lg-12" name="searchemploymenttype">
          <option value=""> </option>
          <option value="Part time"> Part time</option>
          <option value="Event">Event</option>
          <option value="ฝึกงาน">ฝึกงาน</option>
        </select>
      </div>

      <div class=" col-lg-4">
        <label for="inputjypejob"><i class="far fa-money-bill-alt"></i> ผลตอบแทน</label>
        <select class="form-control inner-search " id="salary" for="selectTypejob" name="searchsalary" >
            <option value=""> </option>
            <option value="น้อยกว่า 200 บาท/วัน"> น้อยกว่า 200 บาท/วัน</option>
            <option value="200-300 บาท/วัน"> 200-300 บาท/วัน</option>
            <option value="300-400 บาท/วัน"> 300-400 บาท/วัน</option>
            <option value="400-500 บาท/วัน"> 400-500 บาท/วัน</option>
            <option value="มากกว่า 500 บาท/วัน"> มากกว่า 500 บาท/วัน</option>
        </select>
        </div>
    </div>
        <div class="form-group col-lg-12" align="center">
          <button type="submit" class="btn btn-success btn-search col-lg-9">ค้นหา</button><br>
        </div>
          <p>ค้นหาคนที่(จะทำงาน)ถูกใจง่ายๆเพียงกรอกข้อมูลและกดค้นหาได้เลยยย</p> 
  </form>
  <div class="img-fluid col-xs-2 col-lg-4 d-none d-lg-block">
    <img clas="" src="../../images/bg-operator_search.svg" alt="" width="90%" id="img-search">
  </div>  
  <h1 class="my-4">WORKER LIST
    <!-- <small>find your job</small> -->
  </h1>
  <div class="list col-lg-12">
    
    <% if(Resume.length == "0" && dosearch == true){ %>
      <h1><center>ไม่พบงานที่ตรงกัน</center></h1>
      <% } else if (Resume.length != "0" && dosearch == true){ %>
        <h1><center>พบงานที่ตรงกัน <%= Resume.length %></center></h1>
      <%} else if ( dosearch == false) {%>
      <% } %>
      <% Resume.forEach(function(resume){ %>
          <div class="card col-lg-12">
              <div class="card-body col-lg-12">
                  <div class="border-block col-lg-12">
                    <div class="row col-lg-12">
                      <div class="col-lg-4">
                        <a href="#">
                          <img style="width: 600px; height: 250px; object-fit: cover;" class="img-fluid rounded mb-3 mb-md-0"  src="/resumeimage/<%= resume.image %>" alt="">
                        </a>
                      </div>
                      <div class="col-lg-8">
                        <div class="row col-lg-12 font-weight-bold">
                          <p> 
                        </div>
                        <div class="row col-lg-12 h4">
                          <p ><i class="fas fa-user-circle"></i> <%= resume.firstname%> <%= resume.lastname %></p>
                        </div>
                        <div class="row col-lg-12 justify-content-between">
                          <div class="row col-lg-6">
                            <p><i class="far fa-handshake handshake"></i> <%= resume.employmenttype %></p>
                          </div>
                        <div class="row col-lg-6">
                            <p><i class="fas fa-tasks tasks"></i> <%= resume.jobtype %></p>
                        </div>
                        </div>
                        
                        <div class="row col-lg-12">
                          <p><i class="far fa-money-bill-alt money"></i> <%= resume.salary %></p>
                        </div>
                        <div class="row col-lg-12">
                          <p><i class="fas fa-clock clock"> </i> ช่วงเวลาที่สะดวกทำงาน : <%= resume.starttime%> - <%= resume.finishtime %> น.</p>
                        </div>
                        <div class="row col-lg-12">
                          <h6><i class="fas fa-hourglass-half "></i> โพสต์เมื่อ <%= resume.postdate %> น. </h6>
                        </div>
                        <div class="col-lg-12" align="right">
                          <a action="GET" class="btn btn-primary btn-readmore" href="/findworker/workerlist/<%= resume._id %>">อ่านเพิ่มเติม</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        <br>
        <% }); %> 
  </div>

    </div>
</div>

<%- include("../partials/footer")%>