<%- include("../partials/header")%>
<% var count = 0%>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="/css/list.css">
</head>
<div class="container col-xs-12 col-sm-12 col-md-11 col-s-9" >
  <div class="block col-lg-12 form-row">
    <h1 class="my-4" align="center"> My Post </h1>
  <div class="list col-lg-12 col-md-12 col-sm-12 align-self-center">
  
  
    <% Job.forEach(function(job){ %>
      <% if(job.user.username === currentUser.username){%>
        <div class="card border-light m-2">
          <div class="row m-1">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <a href="#">
                <img style="width: 700px; height: 250px; object-fit: cover;" class="img-fluid rounded"  src="/jobimage/<%= job.image %>" alt="">
              </a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <div class="row col-lg-12 font-weight-bold h4 mt-4">
                <!-- <img src="../../images/briefcase.svg" alt="" id="icon-list" class="mr-2"> -->
                <p class="" id="detail"> <%= job.jobpos%></p>
              </div>
              <!-- <div class="row col-lg-12 col-md-10 col-sm-10 col-xs-12  h5">
                    <div class="row col-">
                      <img src="../../images/shopper.svg" style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list">
                    </div>
                    <div class=""  >
                      <%= job.companyname %>
                    </div>
              </div> -->
                <div class="row col-lg-12">
                    <!-- <img src="../../images/shopper.svg" style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list" class="mr-2 col-xs-1"> -->
                    <p id="detail" ><i class="far fa-building company"></i> <%= job.companyname %></p>
                </div>
              <div class="row col-lg-12 justify-content-between">
                <div class="row col-lg-4">
                  <!-- <img src="../../images/deal.svg" style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list" class="mr-2"> -->
                    <p id="detail"><i class="far fa-handshake handshake"></i> <%= job.employmenttype %></p>
                </div>
                <div class="row col-lg-8">
                    <!-- <img src="../../images/signature.svg" style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list" class="mr-2"> -->
                    <p id="detail"><i class="fas fa-tasks tasks"></i> <%= job.jobtype %></p>
                </div>
              </div>
              <div class="row col-lg-12">
                <!-- <img src="../../images/money.svg" style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list" class="mr-2"> -->
                <p id="detail"><i class="far fa-money-bill-alt money"></i> <%= job.salary %></p>
              </div>
              <div class="row col-lg-12">
                <!-- <img src="../../images/map.svg"  style="width: 25px; height: 25px; object-fit: cover;" alt="" id="icon-list" class="mr-2"> -->
                <p class="text-break"><i class="fas fa-map-marker-alt map"></i> <%= job.country %> <%= job.district %> <%= job.subdistrict %> <%= job.province%> <%= job.postcode %></p>
              </div>
              <div class="col-lg-12 mb-3" align="right">
                <a action="GET" class="btn btn-primary btn-readmore" href="/findworker/My_post/<%= job._id %>">อ่านเพิ่มเติม</a>
              </div>
            </div>
          </div>
      </div> 
      <% count++ } %>
    <% })  %>
    <% if(count === 0){ %>
      <h1><center>ไม่พบข้อมูล</center></h1>
      <% } %>
  
  
  </ul>
</div>
</div>
</div>


<%- include("../partials/footer")%>