<%- include("../partials/header")%>
<% var count = 0%>
<div class="container">
  <h1 class="my-4">My Post
    <!-- <small>find your job</small> -->
  </h1>
    <% Job.forEach(function(job){ %>
      <% if(job.user.username === currentUser.username){%>
      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/jobimage/<%= job.image %>" width="300" height="300"  alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3 class="mt-0 mb-1">ชื่อบริษัท/ห้างร้าน<%= job.companyname %></h3><br>
          <h4> ประเภทงาน : <%= job.jobtype %> </h4>
          <h4> ประเถทสัญญาจ้าง : <%= job.employmenttype %> </h4>
          <h5> ระยะเวลาการทำงาน : <%= job.worktime %> </h5>
          <h5> วันที่สะดวกเริ่มทำงาน : <%= job.date %> </h5>
          <h5> เงินเดือน : <%= job.salary %> </h5>

          <a action="GET" class="btn btn-primary" href="/My_post/<%= job._id %>">see more detail</a>
        </div>
      </div>
      <!-- /.row -->
      <hr>
      <% count++ } %>
    <% })  %>
    <% if(count === 0){ %>
      <h1><center>ไม่พบข้อมูล</center></h1>
      <% } %>
  
  
  </ul>
</div>


<%- include("../partials/footer")%>