<%- include("../partials/header")%>
<head> 	
    <link rel="stylesheet" type="text/css" href="css/footer.css"> 	
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
  </head> 
<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="jumbotron">
        <h1><%= resume.name %></h1>
        <img src='/images/<%= resume.user.img %>' class="img-fluid">
        <p>ชื่อ : <%= resume.firstname %> นามสกุล : <%= resume.lastname %></p>
        <p>รายละเอียด : <%= resume.description %></p>
        <P>ประเภทสัญญาจ้าง  : <%= resume.jobtype %></P>
        <p>ประเภทงานที่สนใจ  : <%= resume.employmenttype %></p>
        <p>วันเวลา  <%= resume.date %></p>
    </div>
</div>
<%- include("../partials/footer")%>