<%- include("partials/header")%>
<div class ="container" style="text-align: center;">
    <header class = "jumbotron">
        <div class = "container">
            <h1>My Collection</h1>
            <br>Anime you should to know in 2020
            <br>
            <a class="btn btn-outline-primary" href="/anime/new" role="button">ADD NEW ANIME</a>
        </div>
    </header>
    <div class = "row">
        <% anime.forEach(function(anime){ %>
            <div class = "col-md-3 col-sm-6" >
                <div class="img-thumbnail">
                    <img src = <%= anime.imgurl %> class="img-fluid">
                    <div class = "caption">
                        <h3><%= anime.name %></h3>
                    </div>
                    <a class="btn btn-outline-primary" href="/anime/<%- anime._id %>" role="button">More detail...</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>


<%- include("partials/footer") %>