<%- include("../partials/header")%>

<div style="margin-left :10% ;margin-right: 10%">
    <div class="row justify-content-between" >
        <div class="col-md-5 col-sm-12" style=" margin-top: 10%;" align="center">
            <div class="jumbotron"  >
                
            </div>
        </div>   
        <div class="col-md-2 col-sm-0" style=" margin-top: 10%;" align="center">
        </div> 
        <div class="col-md-5 col-sm-12" style="margin-top: 10%; " align="center">
            <div class="jumbotron"  >
                <h1 style="text-align: center;">Profile</h1>
                    <form action="/profile/editprofile" method="GET">
                        <div style="text-align: left;" class="form-group">
                            <label for="name">Username </label>
                            <label for="name">: <%= currentUser.username %></label>
                        </div>
                        <div style="text-align: left;" class="form-group">
                            <label for="name">Email </label>
                            <label for="name">: <%= currentUser.email %></label>
                        </div>
                        <div style="text-align: left;" class="form-group">
                            <label for="name">Type of user </label>
                            <label for="name">: <%= currentUser.type %></label>
                        </div>
                        <div align="right">
                            <button type="submit" href="profile/editprofile" class="btn btn-primary">Edit profile</button> 
                        </div>
                    </form>
            </div>
        </div>     
    </div>    
</div>

<%- include("../partials/footer")%>
